

body {    
    background-image: url('../images/background_5.jpg');  
    background-repeat: no-repeat;
    margin:0;
	padding:0;
	height:100%;   
}

/* strona główna*/

.box {
    top:250px;
    left:550px;
    bottom:250px;
    right:550px;
    position:absolute;   
    background-color: #ffffff;
    opacity: 0.6;
    border: 1px solid black;
    border-radius: 5px;
    color: black;    
}

 h1 {
    font-family: 'Libre Baskerville', serif; 
    color: black;
    font-weight: bold;
    text-align: center;    
}

p {
    font-family: 'Libre Baskerville', serif; 
    font-size: 18px;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 30px 35px 40px 35px;
}

input {
    margin: 0 auto;
    display: flex;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    border: 1px solid chocolate;
    text-align:center;
    font-family: 'Libre Baskerville', serif; 
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}
   
.btn {
    /*height: 60px;
    width: 300px;*/
    background-color: chocolate;
    border-radius: 5px;
    border: 1px solid black;
    margin: 20px auto;
    display: flex;
    padding: 20px 65px 20px 65px;
    color: white;
    font-family: 'Libre Baskerville';
    font-size: 20px;
    opacity: 0.8;
    
}

.enter {
    opacity:0.8;
    cursor: pointer;
}

.enter:hover {
    opacity:0.6; 
}

a {
    text-decoration: none;
    color:white;
    font-weight: 200;  
}


/*Plansza 1*/

.a {
    text-align: center;
    /*height: 150px;*/
}

.greet{
    margin: 60px 0px 30px 0px;
    display:inline-block;
}

.counter {  
    display: inline-block;
    margin-left: 20px;
   
}

.text{
    padding-top: 15px;
    /*height: 60px;*/
    font-size: 22px;
}

.level { 
    margin:120px 450px;
    left: 450px;
    position: absolute;
    float: right;
    background-color: chocolate;
    border-radius: 5px;
    border: 1px solid black;
    color:white;
    padding:20px 40px;
    opacity: 0.6;
    font-family: 'Libre Baskerville';
    font-size: 20px;    
}

.board_1  {
   position: absolute;
   top:360px;
   left:765px;
   /*bottom:200px;
   right:500px;*/
}
img {  
    opacity: 0.9;     
}

.img1 {  
    position: absolute;
    top:360px;
    left:765px;
    bottom:200px;
    right:500px;
}

.tile {
    cursor: pointer;
}

.tile:hover {
    opacity:0.7;
}

.bottom_nav {
    display: inline-flex;
    left:520px;
    position: absolute;
    bottom:50px;
}

.navigation {  
    font-size: 25px;
    cursor: pointer;
    opacity: 0.8;
    margin-right:50px;
  
}

.navigation:hover {
    opacity:0.6; 
}

/*Plansza 2*/

.img2 {  
    position: absolute;
    top:360px;
    left:710px;
}

.board_2  {  
    position:absolute;
    top:360px;
    left:710px; 
}

/*Plansza 3*/

.img3 { 
    /*margin-left: 33.5%;*/
    position: absolute;
    top:360px;
    left:660px;   
}

.board_3  {
    position:absolute;
    top:360px;
    left:660px;
}

.level3 {
   
    left:720px; 
    bottom:50px;    
}
